<a href="https://colab.research.google.com/github/e-margot/TinAnal/blob/main/Convert_json_to_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [2]:
import json

In [6]:
import pandas as pd

In [ ]:
import pandas as pd

with open('/content/drive/MyDrive/TinAnal/women.json', encoding='utf-8') as inputfile:
    df = pd.read_json(inputfile)

df.to_csv('/content/drive/MyDrive/TinAnal/women.csv', encoding='utf-8', index=False)

In [ ]:
women = pd.read_csv('/content/drive/MyDrive/TinAnal/women.csv')

In [ ]:
women

,id,name,is_verified,description,birth_date,age,hide_age,is_traveling,gender,show_gender_on_profile,has_social,social_connections,interests,jobs,schools,sexual_orientations,hide_distance,options,photos
0,62e13a41c27068010043fc1b,Evr,True,–í–ª—é–±–ª–µ–Ω–∞ –≤ –∂–∏–∑–Ω—å\n–ú–æ–∂–µ—Ç –±—ã—Ç—å –≤–ª—é–±–ª—é—Å—å –≤ —Ç–µ–±—è ü§≠...,2000-09-18,21,False,0.0,woman,False,True,['instagram'],"[{'id': 'it_2289', 'name': '–ò–Ω–≤–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏–µ', '...",[],[],[],False,"[{'id': 'de_1', 'name': '–ó–Ω–∞–∫ –∑–æ–¥–∏–∞–∫–∞', 'selec...",[{'id': 'df586273-e9c4-4fb8-92bb-0b44d3d596a5'...
1,62ee25b401fd790100354525,Anna,False,NaN,1987-09-18,34,False,NaN,woman,True,False,[],"[{'id': 'it_2016', 'name': '–¢–∞–Ω—Ü—ã', 'is_common...",[],[],[],False,"[{'id': 'de_1', 'name': '–ó–Ω–∞–∫ –∑–æ–¥–∏–∞–∫–∞', 'selec...",[{'id': '7a30ab29-7948-41aa-88e2-94023a59e5db'...
2,628e4f5b9486220100784892,Alina,False,"–ò–Ω—Ç—Ä–æ–≤–µ—Ä—Ç\n\n–ò–∑–Ω–∞—á–∞–ª—å–Ω–∞—è —Ü–µ–ª—å - –æ–±—â–µ–Ω–∏–µ, –¥–∞–ª—å—à...",1994-09-18,27,False,1.0,woman,True,False,[],"[{'id': 'it_58', 'name': '–ó–∞–Ω—è—Ç–∏—è –Ω–∞ —Å–≤–µ–∂–µ–º –≤–æ...",[{'title': {'name': '–°–∞–º–æ–∑–∞–Ω—è—Ç–æ—Å—Ç—å'}}],[{'name': '–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥—Å–∫–∏–π –∏–Ω—Å—Ç–∏—Ç—É—Ç —ç–∫–æ–Ω–æ–º...,"[{'id': 'str', 'name': '–ì–µ—Ç–µ—Ä–æ'}]",True,"[{'id': 'de_1', 'name': '–ó–Ω–∞–∫ –∑–æ–¥–∏–∞–∫–∞', 'selec...",[{'id': '1fc99cc2-1791-4602-adce-0c7f29636a51'...
3,5dc7e16f30bdf601001f16b0,–î–∞—Ä—å—è,False,NaN,1985-09-18,36,False,0.0,woman,False,False,[],[],[],[],[],False,[],[{'id': 'e32b1730-1869-4e44-954f-cfc46849258d'...
4,613d2872ecc1fe0100189693,–¢–∞–Ω—è,False,–ï—Å—Ç—å –¥–≤–æ–µ –¥–µ—Ç–µ–π 6 –ª–µ—Ç –∏ 11 –ª–µ—Ç,1984-09-18,37,False,NaN,woman,False,False,[],"[{'id': 'it_23', 'name': '–°–ø–æ—Ä—Ç', 'is_common':...","[{'company': {'name': '–†–æ—Å–∞—Ç–æ–º'}, 'title': {'n...",[],[],False,[],[{'id': '5e4fd958-4c68-41f5-8b06-3c79dfe01b7c'...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,632197f8edb6ed010040aa9c,Aleksandra,False,NaN,1991-09-18,30,False,0.0,woman,True,False,[],[],[],[],"[{'id': 'str', 'name': '–ì–µ—Ç–µ—Ä–æ'}]",False,[],[{'id': '408a9a05-2744-4537-92da-5eebe3b641e7'...
496,6183b6de5566a10100ea28a9,–ú–∞—Ä–∏—è,False,"–í–æ–¥–æ–ª–µ–π‚ôí\n@mrs.krizh\n\n–í—ã—Å–æ–∫–∞—è, –µ—Å–ª–∏ –Ω–∞ –∫–∞–±–ª—É...",1988-09-18,33,False,NaN,woman,False,False,[],"[{'id': 'it_31', 'name': '–•–æ–¥—å–±–∞', 'is_common'...",[],[{'name': '–í—ã—Å—à–µ–µ'}],"[{'id': 'str', 'name': '–ì–µ—Ç–µ—Ä–æ'}]",False,"[{'id': 'de_1', 'name': '–ó–Ω–∞–∫ –∑–æ–¥–∏–∞–∫–∞', 'selec...",[{'id': '349ac7b7-d007-400f-b8d1-f810a9cf97af'...
497,627229c64b13430100f34268,–ê–Ω–Ω–∞,False,–û—Ç–∫—Ä—ã—Ç–∞ –∫ –∑–Ω–∞–∫–æ–º—Å—Ç–≤–∞–º.\n\n–í–æ –∏–∑–±–µ–∂–∞–Ω–∏–µ –Ω–µ–¥–æ–ø–æ–Ω...,1992-09-18,29,False,NaN,woman,True,False,[],"[{'id': 'it_2017', 'name': '–ú—É–∑–µ–π', 'is_common...",[],[],[],False,"[{'id': 'de_11', 'name': '–ö—É—Ä–µ–Ω–∏–µ', 'selection...",[{'id': '5aa94812-32e9-4249-939f-19058b863fc5'...
498,62eebb55cc7a2b01007125e0,–ö—Å–µ–Ω–∏—è,True,"–ñ–∏–≤—É –∏ —Ä–∞–±–æ—Ç–∞—é –±–µ–∑ –≥—Ä–∞—Ñ–∏–∫–∞. \n–ì—É–ª—è—Ç—å, –≤–∫—É—Å–Ω–æ –µ...",1989-09-18,32,False,NaN,woman,False,False,[],"[{'id': 'it_28', 'name': '–ß—Ç–µ–Ω–∏–µ', 'is_common'...",[{'title': {'name': '–ò–ü'}}],[],[],False,"[{'id': 'de_3', 'name': '–ü–∏—Ç–æ–º—Ü—ã', 'selections...",[{'id': '14c22632-d197-4bfd-b14a-f996f228a457'...
499,6154192a8408f90100720b6f,–ê–Ω–∂–µ–ª–∏–∫–∞,True,–í—ã—Å–æ–∫–∞—è 176) \n—Ö–∞—Ä–∏–∑–º–∞—Ç–∏—á–Ω–∞—è . –õ–µ–≤,1989-09-18,32,False,0.0,woman,True,False,[],"[{'id': 'it_1', 'name': '–ö–æ—Ñ–µ', 'is_common': T...",[],[],"[{'id': 'str', 'name': '–ì–µ—Ç–µ—Ä–æ'}]",False,[],[{'id': '4c60cb26-4b52-4d8c-b4e0-b69207b8bc1c'...

In [4]:
f = open('/content/drive/MyDrive/TinAnal/women.json', encoding='utf-8')
ph = []
interests = []
data = json.load(f)
for i in data:
    de = []
    for j in i['options']:
      de.append(j['id'])
    for n in j['selections']:
      for m in i['photos']:
        ph.append(m['filename'])
      for inter in i['interests']:
        interests.append(inter['name'])
      with open('/content/drive/MyDrive/TinAnal/women_2_1.json', 'r+') as file:
        file_data = json.load(file)
        if 'de_11' in de:
          if j['id'] == 'de_11':
            if not interests:
              new = {'id': i['id'], 'age': i['age'], 'has_social': i['has_social'], 'gender': i['gender'], 'is_smoke': n['name'], 'interests': ['None'],'photos': ph}
            else:
              new = {'id': i['id'], 'age': i['age'], 'has_social': i['has_social'], 'gender': i['gender'], 'is_smoke': n['name'], 'interests': interests,'photos': ph}
        else:
          if not interests:
            new = {'id': i['id'], 'age': i['age'], 'has_social': i['has_social'], 'gender': i['gender'], 'is_smoke': 'None', 'interests': ['None'], 'photos': ph}
          else:
            new = {'id': i['id'], 'age': i['age'], 'has_social': i['has_social'], 'gender': i['gender'], 'is_smoke': 'None', 'interests': interests, 'photos': ph}
        file_data.append(new)
        file.seek(0)
        json.dump(file_data, file, indent = 4, ensure_ascii=False)
        ph.clear()
        interests.clear()


f.close()

In [8]:
import pandas as pd

with open('/content/drive/MyDrive/TinAnal/women_2_1.json', encoding='utf-8') as inputfile:
    df = pd.read_json(inputfile)

df.to_csv('/content/drive/MyDrive/TinAnal/women_2_1.csv', encoding='utf-8', index=False)

In [ ]:


with open('/content/drive/MyDrive/TinAnal/men_2.json', encoding='utf-8') as inputfile:
    df = pd.read_json(inputfile)

df.to_csv('/content/drive/MyDrive/TinAnal/men_2.csv', encoding='utf-8', index=False)

In [ ]:
df = pd.read_csv('/content/drive/MyDrive/TinAnal/WOMEN.csv')

In [ ]:
df_w

,id,age,has_social,gender,is_smoke,interests,photos
0,62e13a41c27068010043fc1b,21,True,woman,–ù–µ –∫—É—Ä—é,"['–ò–Ω–≤–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏–µ', '–ú–µ–¥–∏—Ç–∞—Ü–∏—è', '–°–ø–æ—Ä—Ç', '–ü—É—Ç–µ...","['df586273-e9c4-4fb8-92bb-0b44d3d596a5.jpg', '..."
1,62ee25b401fd790100354525,34,False,woman,None,"['–¢–∞–Ω—Ü—ã', '–ë–∞–ª–µ—Ç', '–ê–∫—Ç–∏–≤–Ω—ã–π –æ–±—Ä–∞–∑ –∂–∏–∑–Ω–∏', '–°–ø...","['7a30ab29-7948-41aa-88e2-94023a59e5db.jpg', '..."
2,628e4f5b9486220100784892,27,False,woman,–ù–µ –∫—É—Ä—é,"['–ó–∞–Ω—è—Ç–∏—è –Ω–∞ —Å–≤–µ–∂–µ–º –≤–æ–∑–¥—É—Ö–µ', '–ü—É—Ç–µ—à–µ—Å—Ç–≤–∏—è', '...","['1fc99cc2-1791-4602-adce-0c7f29636a51.jpg', '..."
3,5dc7e16f30bdf601001f16b0,36,False,woman,None,None,"['e32b1730-1869-4e44-954f-cfc46849258d.jpg', '..."
4,613d2872ecc1fe0100189693,37,False,woman,None,"['–°–ø–æ—Ä—Ç', '–¢—Ä–µ–Ω–∏—Ä–æ–≤–∫–∏', '–ß–∞–π', '–§–∏–ª—å–º—ã', '–§–æ—Ç–æ...","['5e4fd958-4c68-41f5-8b06-3c79dfe01b7c.jpg', '..."
...,...,...,...,...,...,...,...
495,632197f8edb6ed010040aa9c,30,False,woman,None,None,['408a9a05-2744-4537-92da-5eebe3b641e7.jpg']
496,6183b6de5566a10100ea28a9,33,False,woman,–ù–µ –∫—É—Ä—é,"['–•–æ–¥—å–±–∞', '–ë–µ–≥', '–§–∏–ª—å–º—ã', '–ß—Ç–µ–Ω–∏–µ', '–°–ø–æ—Ä—Ç']","['349ac7b7-d007-400f-b8d1-f810a9cf97af.jpg', '..."
497,627229c64b13430100f34268,29,False,woman,–ù–µ –∫—É—Ä—é,"['–ú—É–∑–µ–π', '–ò–Ω–≤–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏–µ', '–§–æ—Ç–æ–≥—Ä–∞—Ñ–∏—è']","['5aa94812-32e9-4249-939f-19058b863fc5.jpg', '..."
498,62eebb55cc7a2b01007125e0,32,False,woman,–ù–µ –∫—É—Ä—é,"['–ß—Ç–µ–Ω–∏–µ', '–ö–æ—Ñ–µ', '–í–∏–Ω–æ']","['14c22632-d197-4bfd-b14a-f996f228a457.jpg', '..."
499,6154192a8408f90100720b6f,32,False,woman,None,"['–ö–æ—Ñ–µ', '–ü–æ–∫—É–ø–∫–∏', '–í–∏–Ω–æ', '–ú—É–∑—ã–∫–∞', '–ü–ª–∞–≤–∞–Ω–∏–µ']","['4c60cb26-4b52-4d8c-b4e0-b69207b8bc1c.jpg', '..."

In [12]:
# her we define the threshhold or our age groups
age_groups = [0, 20, 25, 30, 35, 40, 55, 100]

# and for convenience we give each of them a handy label
age_group_names = ['<20', '21-25', '26-30', '31-35', '36-40', '41-55', '>55']

In [ ]:
df['Age group'] = pd.cut(
    df['age'], bins=age_groups, labels=age_group_names)

df

,id,age,has_social,gender,is_smoke,interests,photos,flower,smoker,pet,cell phone,alco,car,emo,Age group
0,62e13a41c27068010043fc1b,21,True,woman,–ù–µ –∫—É—Ä—é,"['–ò–Ω–≤–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏–µ', '–ú–µ–¥–∏—Ç–∞—Ü–∏—è', '–°–ø–æ—Ä—Ç', '–ü—É—Ç–µ...","['df586273-e9c4-4fb8-92bb-0b44d3d596a5.jpg', '...",True,True,False,False,False,False,False,21-25
1,62ee25b401fd790100354525,34,False,woman,None,"['–¢–∞–Ω—Ü—ã', '–ë–∞–ª–µ—Ç', '–ê–∫—Ç–∏–≤–Ω—ã–π –æ–±—Ä–∞–∑ –∂–∏–∑–Ω–∏', '–°–ø...","['7a30ab29-7948-41aa-88e2-94023a59e5db.jpg', '...",True,True,False,False,False,False,False,31-35
2,628e4f5b9486220100784892,27,False,woman,–ù–µ –∫—É—Ä—é,"['–ó–∞–Ω—è—Ç–∏—è –Ω–∞ —Å–≤–µ–∂–µ–º –≤–æ–∑–¥—É—Ö–µ', '–ü—É—Ç–µ—à–µ—Å—Ç–≤–∏—è', '...","['1fc99cc2-1791-4602-adce-0c7f29636a51.jpg', '...",True,False,False,True,False,True,False,26-30
3,5dc7e16f30bdf601001f16b0,36,False,woman,None,None,"['e32b1730-1869-4e44-954f-cfc46849258d.jpg', '...",False,True,False,True,False,True,True,36-40
4,613d2872ecc1fe0100189693,37,False,woman,None,"['–°–ø–æ—Ä—Ç', '–¢—Ä–µ–Ω–∏—Ä–æ–≤–∫–∏', '–ß–∞–π', '–§–∏–ª—å–º—ã', '–§–æ—Ç–æ...","['5e4fd958-4c68-41f5-8b06-3c79dfe01b7c.jpg', '...",False,True,False,True,True,False,True,36-40
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,632197f8edb6ed010040aa9c,30,False,woman,None,None,['408a9a05-2744-4537-92da-5eebe3b641e7.jpg'],False,False,False,False,False,False,False,26-30
496,6183b6de5566a10100ea28a9,33,False,woman,–ù–µ –∫—É—Ä—é,"['–•–æ–¥—å–±–∞', '–ë–µ–≥', '–§–∏–ª—å–º—ã', '–ß—Ç–µ–Ω–∏–µ', '–°–ø–æ—Ä—Ç']","['349ac7b7-d007-400f-b8d1-f810a9cf97af.jpg', '...",True,True,False,False,False,False,True,31-35
497,627229c64b13430100f34268,29,False,woman,–ù–µ –∫—É—Ä—é,"['–ú—É–∑–µ–π', '–ò–Ω–≤–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏–µ', '–§–æ—Ç–æ–≥—Ä–∞—Ñ–∏—è']","['5aa94812-32e9-4249-939f-19058b863fc5.jpg', '...",False,False,False,False,False,False,True,26-30
498,62eebb55cc7a2b01007125e0,32,False,woman,–ù–µ –∫—É—Ä—é,"['–ß—Ç–µ–Ω–∏–µ', '–ö–æ—Ñ–µ', '–í–∏–Ω–æ']","['14c22632-d197-4bfd-b14a-f996f228a457.jpg', '...",True,False,False,True,True,True,True,31-35
499,6154192a8408f90100720b6f,32,False,woman,None,"['–ö–æ—Ñ–µ', '–ü–æ–∫—É–ø–∫–∏', '–í–∏–Ω–æ', '–ú—É–∑—ã–∫–∞', '–ü–ª–∞–≤–∞–Ω–∏–µ']","['4c60cb26-4b52-4d8c-b4e0-b69207b8bc1c.jpg', '...",True,False,False,True,False,True,False,31-35

In [ ]:
df_m['Age group'] = pd.cut(
    df_m['age'], bins=age_groups, labels=age_group_names)

df_m

,id,age,has_social,gender,is_smoke,interests,photos,Age group
0,62fe27ea55229101001c7147,43,False,man,None,"['–ë–µ–≥', '–•–æ–∫–∫–µ–π', '–°–ø–æ—Ä—Ç', '–†—ã–±–∞–ª–∫–∞', '–í–∏–Ω–æ']","['3ab12e5b-98f0-4f23-8958-5f07d8ed8fe6.jpg', '...",41-55
1,595140c4dd1c974f11da5a94,25,False,man,–ù–µ –∫—É—Ä—é,"['–ú—É–∑—ã–∫–∞', '–°–ø–æ—Ä—Ç', '–ü—Ä–æ–ø—É—Å—Ç–∏—Ç—å —Å—Ç–∞–∫–∞–Ω—á–∏–∫', '–ù...","['a6393026-88d7-4aef-8284-30c70264731d.jpg', '...",21-25
2,629d4c36a2d0f10100d1c5fc,27,False,man,–ö—É—Ä—é –∑–∞ –∫–æ–º–ø–∞–Ω–∏—é,"['–ë–µ–≥', '–ú—É–∑–µ–π', '–§–∏–ª—å–º—ã']","['84acf117-2025-4a6b-9f8b-b9d8d04ff43f.jpg', '...",26-30
3,632411ecbb27b00100cd28df,33,False,man,None,"['–ü—Ä–æ—Å–º–æ—Ç—Ä —Å–µ—Ä–∏–∞–ª–æ–≤', '–°–æ—Ü—Å–µ—Ç–∏', '–ó–∞–Ω—è—Ç–∏—è –≤ –ø–æ...","['7b8cff27-3fe3-4c1d-95a8-4d2d6b4d48bf.jpg', '...",31-35
4,62f2ae346dc4b2010029a7a9,27,True,man,None,"['–î–µ—Ç–∏ 90-—Ö', '–ß—Ç–µ–Ω–∏–µ', '–ö—É–ª–∏–Ω–∞—Ä–∏—è', '–§—É—Ç–±–æ–ª',...","['251090ae-82b1-4a5a-89e9-bcfa38dc1732.jpg', '...",26-30
...,...,...,...,...,...,...,...,...
524,62e6f8f49c2e7d010002a23a,32,False,man,–ö—É—Ä—é,"['–ö–æ—Ñ–µ', '–§–∏–ª—å–º—ã', '–ü—É—Ç–µ—à–µ—Å—Ç–≤–∏—è']","['8402473b-2c0c-45ce-9f22-b3e6bd071949.jpg', '...",31-35
525,611836cd8063e80100ac87ed,36,False,man,None,"['–ö–æ—Ñ–µ', '–í–∏–Ω–æ', '–ú—É–∑—ã–∫–∞', '–ü–æ–∫—É–ø–∫–∏', 'Instagr...","['f95e66c8-dac9-4eda-8d56-764f29303c52.jpg', '...",36-40
526,5931abdf41264cb432532e8c,30,True,man,None,None,"['f7febaae-dd00-41a9-8d8c-f3d75264985a.jpg', '...",26-30
527,58fc52033c272dcb4251bf97,35,False,man,None,"['–°–ø–æ—Ä—Ç', '–ü—É—Ç–µ—à–µ—Å—Ç–≤–∏—è', '–ú—É–∑—ã–∫–∞', '–ö–æ–º–µ–¥–∏—è', ...","['6c0ac217-599d-435e-9746-7ccdf2eda942.jpg', '...",31-35
528,615e84c783c6940100941795,52,False,man,None,"['–•–æ–¥—å–±–∞', '–ß—Ç–µ–Ω–∏–µ', '–ò—Å–∫—É—Å—Å—Ç–≤–æ', '–ü–æ–ª–∏—Ç–∏–∫–∞', ...","['cac2dc9f-71dd-444b-97e6-8199bff6a4ac.jpg', '...",41-55

In [ ]:
df_w.groupby('is_smoke')['is_smoke'].count()

is_smoke
None                 255
–ö—É—Ä—é                  17
–ö—É—Ä—é –∑–∞ –∫–æ–º–ø–∞–Ω–∏—é      11
–ö—É—Ä—é, –∫–æ–≥–¥–∞ –≤—ã–ø—å—é      3
–ù–µ –∫—É—Ä—é              214
Name: is_smoke, dtype: int64

In [ ]:
is_smoke = df.groupby(['is_smoke', 'Age group'])['is_smoke'].count()

bin anal

In [ ]:
is_smoke.to_csv('/content/drive/MyDrive/TinAnal/anal_women_is_smoke.csv')

In [ ]:
smoker = df.groupby(['smoker', 'Age group'])['smoker'].count()

In [ ]:
flower = df.groupby(['flower', 'Age group'])['flower'].count()

In [ ]:
pet = df.groupby(['pet', 'Age group'])['pet'].count()

In [ ]:
cell_phone = df.groupby(['cell phone', 'Age group'])['cell phone'].count()

In [ ]:
alco = df.groupby(['alco', 'Age group'])['alco'].count()

In [ ]:
car = df.groupby(['car', 'Age group'])['car'].count()

In [ ]:
emo = df.groupby(['emo', 'Age group'])['emo'].count()

In [ ]:
has_social = df.groupby(['has_social', 'Age group'])['has_social'].count()

In [ ]:
smoker.to_frame()
flower.to_frame()
pet.to_frame()
cell_phone.to_frame()
alco.to_frame()
car.to_frame()
emo.to_frame()
has_social.to_frame()

In [ ]:
frames = [smoker, flower, pet, cell_phone, alco, car, emo, has_social]

In [ ]:
res = pd.concat(frames, axis = 1, join = "inner")

In [ ]:
res

                 smoker  flower  pet  cell phone  alco  car  emo  has_social
      Age group
False <20             7      11   19           8    17   18    9          16
      21-25          38      40   68          38    67   64   38          64
      26-30          53      60  101          67    98   95   32          96
      31-35          70      89  166         111   156  147   47         162
      36-40          55      82  134          85   131  125   34         133
      41-55           4       3   10           5    10   10    4           9
      >55             0       0    0           0     0    0    0           0
True  <20            12       8    0          11     2    1   10           3
      21-25          30      28    0          30     1    4   30           4
      26-30          48      41    0          34     3    6   69           5
      31-35          97      78    1          56    11   20  120           5
      36-40          80      53    1          50     4   10  101           2
      41-55           6       7    0           5     0    0    6           1
      >55             0       0    0           0     0    0    0           0

In [ ]:
res.to_csv('/content/drive/MyDrive/TinAnal/anal_women.csv')

# interests

In [80]:
from ast import literal_eval
df = pd.read_csv('/content/drive/MyDrive/TinAnal/women_2_1.csv', converters={'interests': literal_eval})

In [81]:
df['Age group'] = pd.cut(
    df['age'], bins=age_groups, labels=age_group_names)

df

,id,age,has_social,gender,is_smoke,interests,photos,Age group
0,62e13a41c27068010043fc1b,21,True,woman,–ù–µ –∫—É—Ä—é,"[–ò–Ω–≤–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏–µ, –ú–µ–¥–∏—Ç–∞—Ü–∏—è, –°–ø–æ—Ä—Ç, –ü—É—Ç–µ—à–µ—Å—Ç–≤–∏—è...","['df586273-e9c4-4fb8-92bb-0b44d3d596a5.jpg', '...",21-25
1,62ee25b401fd790100354525,34,False,woman,None,"[–¢–∞–Ω—Ü—ã, –ë–∞–ª–µ—Ç, –ê–∫—Ç–∏–≤–Ω—ã–π –æ–±—Ä–∞–∑ –∂–∏–∑–Ω–∏, –°–ø–æ—Ä—Ç–∑–∞–ª,...","['7a30ab29-7948-41aa-88e2-94023a59e5db.jpg', '...",31-35
2,628e4f5b9486220100784892,27,False,woman,–ù–µ –∫—É—Ä—é,"[–ó–∞–Ω—è—Ç–∏—è –Ω–∞ —Å–≤–µ–∂–µ–º –≤–æ–∑–¥—É—Ö–µ, –ü—É—Ç–µ—à–µ—Å—Ç–≤–∏—è, –ò–Ω–≤–µ—Å...","['1fc99cc2-1791-4602-adce-0c7f29636a51.jpg', '...",26-30
3,5dc7e16f30bdf601001f16b0,36,False,woman,None,[None],"['e32b1730-1869-4e44-954f-cfc46849258d.jpg', '...",36-40
4,613d2872ecc1fe0100189693,37,False,woman,None,"[–°–ø–æ—Ä—Ç, –¢—Ä–µ–Ω–∏—Ä–æ–≤–∫–∏, –ß–∞–π, –§–∏–ª—å–º—ã, –§–æ—Ç–æ–≥—Ä–∞—Ñ–∏—è]","['5e4fd958-4c68-41f5-8b06-3c79dfe01b7c.jpg', '...",36-40
...,...,...,...,...,...,...,...,...
495,632197f8edb6ed010040aa9c,30,False,woman,None,[None],['408a9a05-2744-4537-92da-5eebe3b641e7.jpg'],26-30
496,6183b6de5566a10100ea28a9,33,False,woman,–ù–µ –∫—É—Ä—é,"[–•–æ–¥—å–±–∞, –ë–µ–≥, –§–∏–ª—å–º—ã, –ß—Ç–µ–Ω–∏–µ, –°–ø–æ—Ä—Ç]","['349ac7b7-d007-400f-b8d1-f810a9cf97af.jpg', '...",31-35
497,627229c64b13430100f34268,29,False,woman,–ù–µ –∫—É—Ä—é,"[–ú—É–∑–µ–π, –ò–Ω–≤–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏–µ, –§–æ—Ç–æ–≥—Ä–∞—Ñ–∏—è]","['5aa94812-32e9-4249-939f-19058b863fc5.jpg', '...",26-30
498,62eebb55cc7a2b01007125e0,32,False,woman,–ù–µ –∫—É—Ä—é,"[–ß—Ç–µ–Ω–∏–µ, –ö–æ—Ñ–µ, –í–∏–Ω–æ]","['14c22632-d197-4bfd-b14a-f996f228a457.jpg', '...",31-35
499,6154192a8408f90100720b6f,32,False,woman,None,"[–ö–æ—Ñ–µ, –ü–æ–∫—É–ø–∫–∏, –í–∏–Ω–æ, –ú—É–∑—ã–∫–∞, –ü–ª–∞–≤–∞–Ω–∏–µ]","['4c60cb26-4b52-4d8c-b4e0-b69207b8bc1c.jpg', '...",31-35

In [ ]:
for i, l in enumerate(df["interests"]):
  print("list",i,"is",type(l))

In [15]:
w_dict = {}
for i in df["interests"]:
    for j in i:
        if j not in w_dict:
            w_dict[j] = 1
        else:
            w_dict[j] += 1

In [16]:
def to_1D(series):
 return pd.Series([x for _list in series for x in _list])

In [52]:
data_int = to_1D(df['interests']).value_counts()

In [53]:
data_int

–ü—É—Ç–µ—à–µ—Å—Ç–≤–∏—è              169
–ß—Ç–µ–Ω–∏–µ                    97
None                      96
–§–∏–ª—å–º—ã                    83
–°–ø–æ—Ä—Ç                     72
                        ...
–í–∏–Ω—Ç–∞–∂–Ω–∞—è –º–æ–¥–∞             1
–°–ø–æ—Ä—Ç–∏–≤–Ω–∞—è –≥–∏–º–Ω–∞—Å—Ç–∏–∫–∞      1
–ú–∏—Ä –≤–æ –≤—Å–µ–º –º–∏—Ä–µ           1
–•–∏–ø-—Ö–æ–ø                    1
–ö—Ä–æ—Å—Å–æ–≤–∫–∏                  1
Length: 178, dtype: int64

In [59]:
type(data_int)

pandas.core.series.Series

In [60]:
data_int.to_frame()

                         0
–ü—É—Ç–µ—à–µ—Å—Ç–≤–∏—è            169
–ß—Ç–µ–Ω–∏–µ                  97
None                    96
–§–∏–ª—å–º—ã                  83
–°–ø–æ—Ä—Ç                   72
...                    ...
–í–∏–Ω—Ç–∞–∂–Ω–∞—è –º–æ–¥–∞           1
–°–ø–æ—Ä—Ç–∏–≤–Ω–∞—è –≥–∏–º–Ω–∞—Å—Ç–∏–∫–∞    1
–ú–∏—Ä –≤–æ –≤—Å–µ–º –º–∏—Ä–µ         1
–•–∏–ø-—Ö–æ–ø                  1
–ö—Ä–æ—Å—Å–æ–≤–∫–∏                1

[178 rows x 1 columns]

In [56]:
data_int = data_int.rename(columns={'index': 'interests', '0': 'count'})

TypeError: ignored

In [63]:
data_int.to_csv('/content/drive/MyDrive/TinAnal/interests.csv')

In [28]:
inter = pd.read_csv('/content/drive/MyDrive/TinAnal/interests.csv')

In [68]:
inter = inter.rename(columns={'Unnamed: 0': 'interests', '0': 'count'})

In [ ]:
inter.set_index('interests').T.to_dict('record')

In [ ]:
smoker = df.groupby(['smoker', 'Age group'])['smoker'].count()

In [22]:
def boolean_df(item_lists, unique_items):
# Create empty dict
    bool_dict = {}
    
    # Loop through all the tags
    for i, item in enumerate(unique_items):
        
        # Apply boolean mask
        bool_dict[item] = item_lists.apply(lambda x: item in x)
            
    # Return the results as a dataframe
    return pd.DataFrame(bool_dict)

In [77]:
unique_items = {'–ü—É—Ç–µ—à–µ—Å—Ç–≤–∏—è': 169,
  '–ß—Ç–µ–Ω–∏–µ': 97,
  'None': 96,
  '–§–∏–ª—å–º—ã': 83,
  '–°–ø–æ—Ä—Ç': 72,
  '–ú—É–∑—ã–∫–∞': 68,
  '–ö–æ—Ñ–µ': 68,
  '–ò—Å–∫—É—Å—Å—Ç–≤–æ': 63,
  '–¢—Ä–µ–Ω–∏—Ä–æ–≤–∫–∏': 45,
  '–í–∏–Ω–æ': 45,
  '–¢–∞–Ω—Ü—ã': 41,
  '–§–æ—Ç–æ–≥—Ä–∞—Ñ–∏—è': 38,
  '–°–ø–æ—Ä—Ç–∑–∞–ª': 37,
  '–•–æ–¥—å–±–∞': 37,
  '–Ø–∑—ã–∫–æ–≤–æ–π –æ–±–º–µ–Ω': 36,
  '–ê–∫—Ç–∏–≤–Ω—ã–π –æ–±—Ä–∞–∑ –∂–∏–∑–Ω–∏': 33,
  '–ô–æ–≥–∞': 32,
  '–£—Ö–æ–¥ –∑–∞ —Å–æ–±–æ–π': 29,
  '–í—ã—Å—Ç–∞–≤–∫–∏': 28,
  '–ú–µ–¥–∏—Ç–∞—Ü–∏—è': 28,
  '–ö—É–ª–∏–Ω–∞—Ä–∏—è': 23,
  '–ú—É–∑–µ–π': 22,
  '–ú–æ–¥–∞': 22,
  '–ë–µ–≥': 22,
  '–ß–∞–π': 19,
  '–ù–∞—Å—Ç–æ–ª—å–Ω—ã–µ –∏–≥—Ä—ã': 19,
  '–ó–∞–Ω—è—Ç–∏—è –Ω–∞ —Å–≤–µ–∂–µ–º –≤–æ–∑–¥—É—Ö–µ': 17,
  '–î—É—Ö–æ–≤–Ω–æ—Å—Ç—å': 17,
  '–ö–æ–º–µ–¥–∏—è': 16,
  'Netflix': 16,
  '–ü–ª–∞–≤–∞–Ω–∏–µ': 15,
  '–ì–æ—Ä—ã': 15,
  'Instagram': 14,
  '–õ—é–±–∏—Ç–µ–ª—å(–Ω–∏—Ü–∞) —Å–æ–±–∞–∫': 14,
  '–ü—Ä–µ–¥–ø—Ä–∏–Ω–∏–º–∞—Ç–µ–ª—å—Å—Ç–≤–æ': 14,
  '–¢—É—Å–æ–≤–∫–∏': 13,
  '–ü–∏–∫–Ω–∏–∫': 12,
  '–ü–µ—à–∏–π —Ç—É—Ä–∏–∑–º': 12,
  '–î–µ—Ç–∏ 90-—Ö': 12,
  '–†–∏—Å–æ–≤–∞–Ω–∏–µ': 12,
  '–ò–Ω–≤–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏–µ': 12,
  '–ì—É—Ä–º–∞–Ω(–∫–∞)': 11,
  '–†–∏—Å–æ–≤–∞—Ç—å': 11,
  '–¢–∞—Ç—É–∏—Ä–æ–≤–∫–∏': 11,
  '–õ—é–±–∏—Ç–µ–ª—å(–Ω–∏—Ü–∞) –∫–æ—à–µ–∫': 11,
  '–î–æ–º–∞—à–Ω–∏–µ —Ç—Ä–µ–Ω–∏—Ä–æ–≤–∫–∏': 10,
  '–í–µ–ª–æ—Å–ø–æ—Ä—Ç': 10,
  '–°–µ—Ä–∏–∞–ª—ã': 10,
  '–ü–æ–∫—É–ø–∫–∏': 9,
  '–°–∞–º–æ—Ä–∞–∑–≤–∏—Ç–∏–µ': 9,
  '–ü–æ—ç–∑–∏—è': 9,
  '–°—Ç–µ–Ω–¥–∞–ø-–∫–æ–º–µ–¥–∏—è': 9,
  '–ö–∞—Ä–∞–æ–∫–µ': 9,
  '–°—É—à–∏': 8,
  '–ú–µ–º—ã': 8,
  '–°–∞–º–æ–¥–µ–ª—å–Ω–∏—á–µ—Å—Ç–≤–æ': 8,
  '–ú–æ—Ä–æ–∂–µ–Ω–æ–µ': 8,
  '–í–æ–ª–æ–Ω—Ç—ë—Ä—Å—Ç–≤–æ': 8,
  '–ü–æ–ª–∏—Ç–∏–∫–∞': 8,
  '–¢–µ–∞—Ç—Ä': 8,
  '–ì–∞–ª–µ—Ä–µ–∏ –∏—Å–∫—É—Å—Å—Ç–≤': 7,
  '–ü—Ä–æ–±–æ–≤–∞—Ç—å —á—Ç–æ-—Ç–æ –Ω–æ–≤–æ–µ': 7,
  '–î–æ—Ä–æ–∂–Ω—ã–µ –ø—É—Ç–µ—à–µ—Å—Ç–≤–∏—è': 7,
  '–ü–æ—Ö–æ–¥—ã': 7,
  '–†—ã–±–∞–ª–∫–∞': 7,
  '–ê–≤—Ç–æ–º–æ–±–∏–ª–∏': 7,
  '–ö–æ–Ω—Ü–µ—Ä—Ç—ã': 7,
  '–í—ã–ø–µ—á–∫–∞': 7,
  'NFT': 6,
  '–ü—Ä–æ—Å–º–æ—Ç—Ä —Å–µ—Ä–∏–∞–ª–æ–≤': 6,
  '–ú–∞–∫–∏—è–∂': 6,
  '–†—É—Å—Å–∫–∏–π —Ä–æ–∫': 6,
  '–ì—É—Ä–º–∞–Ω—Å–∫–∏–π —Ç—É—Ä': 6,
  '–ö—Ä–∞—Ñ—Ç–æ–≤–æ–µ –ø–∏–≤–æ': 6,
  '–°—ë—Ä—Ñ–∏–Ω–≥': 5,
  '–¢—É—Ä –ø–æ –±–∞—Ä–∞–º': 5,
  '–°–Ω–æ—É–±–æ—Ä–¥–∏–Ω–≥': 5,
  '–ê—Å—Ç—Ä–æ–ª–æ–≥–∏—è': 5,
  '–î–∏—Å–Ω–µ–π': 5,
  '–ö–ª—É–±—ã': 5,
  '–°—Ç–∞—Ä—Ç–∞–ø—ã': 4,
  '–≠–ª–µ–∫—Ç—Ä–æ–Ω–Ω–∞—è –º—É–∑—ã–∫–∞': 4,
  '–ü–æ–¥–∑–µ–º–µ–ª—å—è –∏ –¥—Ä–∞–∫–æ–Ω—ã': 4,
  '–ò–∑–º–µ–Ω–µ–Ω–∏–µ –∫–ª–∏–º–∞—Ç–∞': 4,
  '–í–æ–ª–µ–π–±–æ–ª': 4,
  '–ù–µ–¥–≤–∏–∂–∏–º–æ—Å—Ç—å': 4,
  '–°–∞–¥–æ–≤–æ–¥—Å—Ç–≤–æ': 4,
  '–ë—Ä–∞–Ω—á': 4,
  '–ö–∞—Ç–∞–Ω–∏–µ –Ω–∞ –ª—ã–∂–∞—Ö': 4,
  '–ü–æ—Ö–æ–¥—ã –ø–æ –∫–∞—Ñ–µ': 3,
  '–°–∫–∞–ª–æ–ª–∞–∑–∞–Ω–∏–µ': 3,
  '–ö–∞—Ç–∞–Ω–∏–µ –Ω–∞ —Ä–æ–ª–∏–∫–∞—Ö': 3,
  '–ê–≤—Ç–æ–≥–æ–Ω–∫–∏': 3,
  '–§—Ä–∏–¥–∞–π–≤–∏–Ω–≥': 3,
  '–ì–æ—Ä—è—á–∏–µ –∏—Å—Ç–æ—á–Ω–∏–∫–∏': 3,
  '–ö–≤–µ—Å—Ç—ã': 3,
  '–ü–æ–≤–∞—Ä-–ª—é–±–∏—Ç–µ–ª—å': 3,
  '–†—É—Å—Å–∫–∏–π —Ä—ç–ø': 3,
  '–ú–æ—Ç–æ—Ü–∏–∫–ª—ã': 3,
  '–ö–æ–ª–ª–µ–∫—Ü–∏–æ–Ω–∏—Ä–æ–≤–∞–Ω–∏–µ': 3,
  '–ë–ª–æ–≥–∏–Ω–≥': 3,
  '–ê–Ω–∏–º–µ': 3,
  '–°–æ–∑–¥–∞–Ω–∏–µ –∫–æ–Ω—Ç–µ–Ω—Ç–∞': 2,
  '–¢–µ–Ω–Ω–∏—Å': 2,
  '–•–æ–∫–∫–µ–π': 2,
  '–°–ø–∞': 2,
  '–ë–∞—Å–∫–µ—Ç–±–æ–ª': 2,
  '–ü–∞—Ä—É—Å–Ω—ã–π —Å–ø–æ—Ä—Ç': 2,
  '–î–∂–∏–Ω —Å —Ç–æ–Ω–∏–∫–æ–º': 2,
  'YouTube': 2,
  '–õ–∏—Ç–µ—Ä–∞—Ç—É—Ä–∞': 2,
  '–ö–∞–ª—å—è–Ω': 2,
  '–§–µ–º–∏–Ω–∏–∑–º': 2,
  '–ß–∞–π —Å —à–∞—Ä–∏–∫–∞–º–∏': 2,
  '–ë–æ–∫—Å': 2,
  '–ó–∞—â–∏—Ç–∞ –ø—Ä–∏—Ä–æ–¥—ã': 2,
  '–°–ø–æ—Ä—Ç—Å–º–µ–Ω(–∫–∞)': 2,
  '–û—Ç–¥—ã—Ö –≤ –±–∞—Ä–∞—Ö': 2,
  '–ú–æ—Ç–æ—Å–ø–æ—Ä—Ç': 2,
  'TikTok': 2,
  '–ö—Ä–æ—Å—Å—Ñ–∏—Ç': 2,
  '–ì–æ—Ä—è—á–∞—è –π–æ–≥–∞': 2,
  'DAO (–î–ê–û)': 2,
  '–†–æ–∫': 2,
  '–†–µ–π–≤': 2,
  'Twitch': 2,
  '–ü–∏—Å–∞—Ç–µ–ª—å(–Ω–∏—Ü–∞)': 2,
  '–ò–Ω–≤–µ—Å—Ç–∏—Ü–∏–∏': 2,
  'Marvel': 2,
  '–§–µ—Å—Ç–∏–≤–∞–ª–∏': 2,
  '–ë–∞–¥–º–∏–Ω—Ç–æ–Ω': 1,
  '–ü–æ—ç—Ç–∏—á–µ—Å–∫–∏–π —Å–ª—ç–º': 1,
  '–û–¥–µ–∂–¥–∞ –∏–∑ —Å–µ–∫–æ–Ω–¥-—Ö–µ–Ω–¥–∞': 1,
  '–£—Ö–æ–¥ –∑–∞ –∫–æ–∂–µ–π': 1,
  '–ö–æ–Ω—å–∫–∏': 1,
  '–ì–æ–ª—å—Ñ': 1,
  '–ü—Ä–∞–≤–∞ –õ–ì–ë–¢–ö+': 1,
  '–ü–∏–ª–∞—Ç–µ—Å': 1,
  '–ú–∞–Ω–≥–∞': 1,
  '–í–∏–∫—Ç–æ—Ä–∏–Ω—ã –≤ –ø–∞–±–µ': 1,
  '–ü—Ä–æ–ø—É—Å—Ç–∏—Ç—å —Å—Ç–∞–∫–∞–Ω—á–∏–∫': 1,
  '–ü–ª—è–∂–Ω—ã–µ –±–∞—Ä—ã': 1,
  '–ì–∏–º–Ω–∞—Å—Ç–∏–∫–∞': 1,
  '–í–æ–µ–Ω–Ω—ã–π': 1,
  '–ë–∞—Ä–±–µ–∫—é': 1,
  '–§–∏–ª—å–º—ã –æ –ø—Ä–∏–≤–∏–¥–µ–Ω–∏—è—Ö': 1,
  '–§–æ–Ω–¥–æ–≤–∞—è –±–∏—Ä–∂–∞': 1,
  '–°–∞–ø-—Å–µ—Ä—Ñ–∏–Ω–≥': 1,
  '–ö—Ä–∞—Å–∏–≤–æ –ø–∏—Å–∞—Ç—å': 1,
  '–ú–µ—Ç–∞–≤—Å–µ–ª–µ–Ω–Ω–∞—è': 1,
  '–¢–∞—Ä–æ': 1,
  '–°–æ—Ü—Å–µ—Ç–∏': 1,
  '–§—É—Ç–±–æ–ª': 1,
  '–†–µ–≥–≥–µ—Ç–æ–Ω': 1,
  '–ñ–∞—Ä–∫–æ–µ –∏–∑ —Å–≤–∏–Ω–∏–Ω—ã': 1,
  '–ö–æ—Å–ø–ª–µ–π': 1,
  '–ê–≤—Ç–æ—Å–ø–æ—Ä—Ç': 1,
  '–í–∏–∫—Ç–æ—Ä–∏–Ω—ã': 1,
  '–ë–æ–µ–≤—ã–µ –∏—Å–∫—É—Å—Å—Ç–≤–∞': 1,
  '–ì–æ—Ä–æ–¥—Å–∫–∏–µ –ø—Ä–∞–∑–¥–Ω–∏–∫–∏': 1,
  '–ë—Ä–æ–¥–≤–µ–π': 1,
  '–•–æ–ª–æ–¥–Ω—ã–π —á–∞–π': 1,
  '–û–Ω–ª–∞–π–Ω-–∏–≥—Ä—ã': 1,
  'Harry Potter': 1,
  '–í–∏–¥–µ–æ–±–ª–æ–≥–∏–Ω–≥': 1,
  '–°–∫–µ–π—Ç–±–æ—Ä–¥–∏–Ω–≥': 1,
  '–ë–∞–ª–µ—Ç': 1,
  '–ö–æ—Ñ–µ–π–Ω—è': 1,
  '–¢—Ä–µ–Ω–∏—Ä–æ–≤–∫–∞ Bodypump': 1,
  '–ú—É–∑—ã–∫–∞–ª—å–Ω—ã–π –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç': 1,
  '–ù–∞—É—á–Ω–∞—è —Ñ–∞–Ω—Ç–∞—Å—Ç–∏–∫–∞': 1,
  '–ö–µ–º–ø–∏–Ω–≥': 1,
  '–ö—Ä–∏–∫–µ—Ç': 1,
  '–í–∏–Ω—Ç–∞–∂–Ω–∞—è –º–æ–¥–∞': 1,
  '–°–ø–æ—Ä—Ç–∏–≤–Ω–∞—è –≥–∏–º–Ω–∞—Å—Ç–∏–∫–∞': 1,
  '–ú–∏—Ä –≤–æ –≤—Å–µ–º –º–∏—Ä–µ': 1,
  '–•–∏–ø-—Ö–æ–ø': 1,
  '–ö—Ä–æ—Å—Å–æ–≤–∫–∏': 1}

In [82]:
interests_bool = boolean_df(df['interests'], unique_items.keys())

In [85]:
interests_bool

,–ü—É—Ç–µ—à–µ—Å—Ç–≤–∏—è,–ß—Ç–µ–Ω–∏–µ,None,–§–∏–ª—å–º—ã,–°–ø–æ—Ä—Ç,–ú—É–∑—ã–∫–∞,–ö–æ—Ñ–µ,–ò—Å–∫—É—Å—Å—Ç–≤–æ,–¢—Ä–µ–Ω–∏—Ä–æ–≤–∫–∏,–í–∏–Ω–æ,...,–¢—Ä–µ–Ω–∏—Ä–æ–≤–∫–∞ Bodypump,–ú—É–∑—ã–∫–∞–ª—å–Ω—ã–π –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç,–ù–∞—É—á–Ω–∞—è —Ñ–∞–Ω—Ç–∞—Å—Ç–∏–∫–∞,–ö–µ–º–ø–∏–Ω–≥,–ö—Ä–∏–∫–µ—Ç,–í–∏–Ω—Ç–∞–∂–Ω–∞—è –º–æ–¥–∞,–°–ø–æ—Ä—Ç–∏–≤–Ω–∞—è –≥–∏–º–Ω–∞—Å—Ç–∏–∫–∞,–ú–∏—Ä –≤–æ –≤—Å–µ–º –º–∏—Ä–µ,–•–∏–ø-—Ö–æ–ø,–ö—Ä–æ—Å—Å–æ–≤–∫–∏
0,True,False,False,False,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
2,True,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,True,True,False,False,False,True,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,False,False,True,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
496,False,True,False,True,True,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
497,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
498,False,True,False,False,False,False,True,False,False,True,...,False,False,False,False,False,False,False,False,False,False
499,False,False,False,False,False,True,True,False,False,True,...,False,False,False,False,False,False,False,False,False,False

In [86]:
frame = [df, interests_bool]

In [87]:
res = pd.concat(frame, axis = 1, join = "inner")

In [88]:
res

,id,age,has_social,gender,is_smoke,interests,photos,Age group,–ü—É—Ç–µ—à–µ—Å—Ç–≤–∏—è,–ß—Ç–µ–Ω–∏–µ,...,–¢—Ä–µ–Ω–∏—Ä–æ–≤–∫–∞ Bodypump,–ú—É–∑—ã–∫–∞–ª—å–Ω—ã–π –∏–Ω—Å—Ç—Ä—É–º–µ–Ω—Ç,–ù–∞—É—á–Ω–∞—è —Ñ–∞–Ω—Ç–∞—Å—Ç–∏–∫–∞,–ö–µ–º–ø–∏–Ω–≥,–ö—Ä–∏–∫–µ—Ç,–í–∏–Ω—Ç–∞–∂–Ω–∞—è –º–æ–¥–∞,–°–ø–æ—Ä—Ç–∏–≤–Ω–∞—è –≥–∏–º–Ω–∞—Å—Ç–∏–∫–∞,–ú–∏—Ä –≤–æ –≤—Å–µ–º –º–∏—Ä–µ,–•–∏–ø-—Ö–æ–ø,–ö—Ä–æ—Å—Å–æ–≤–∫–∏
0,62e13a41c27068010043fc1b,21,True,woman,–ù–µ –∫—É—Ä—é,"[–ò–Ω–≤–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏–µ, –ú–µ–¥–∏—Ç–∞—Ü–∏—è, –°–ø–æ—Ä—Ç, –ü—É—Ç–µ—à–µ—Å—Ç–≤–∏—è...","['df586273-e9c4-4fb8-92bb-0b44d3d596a5.jpg', '...",21-25,True,False,...,False,False,False,False,False,False,False,False,False,False
1,62ee25b401fd790100354525,34,False,woman,None,"[–¢–∞–Ω—Ü—ã, –ë–∞–ª–µ—Ç, –ê–∫—Ç–∏–≤–Ω—ã–π –æ–±—Ä–∞–∑ –∂–∏–∑–Ω–∏, –°–ø–æ—Ä—Ç–∑–∞–ª,...","['7a30ab29-7948-41aa-88e2-94023a59e5db.jpg', '...",31-35,False,False,...,False,False,False,False,False,False,False,False,False,False
2,628e4f5b9486220100784892,27,False,woman,–ù–µ –∫—É—Ä—é,"[–ó–∞–Ω—è—Ç–∏—è –Ω–∞ —Å–≤–µ–∂–µ–º –≤–æ–∑–¥—É—Ö–µ, –ü—É—Ç–µ—à–µ—Å—Ç–≤–∏—è, –ò–Ω–≤–µ—Å...","['1fc99cc2-1791-4602-adce-0c7f29636a51.jpg', '...",26-30,True,False,...,False,False,False,False,False,False,False,False,False,False
3,5dc7e16f30bdf601001f16b0,36,False,woman,None,[None],"['e32b1730-1869-4e44-954f-cfc46849258d.jpg', '...",36-40,False,False,...,False,False,False,False,False,False,False,False,False,False
4,613d2872ecc1fe0100189693,37,False,woman,None,"[–°–ø–æ—Ä—Ç, –¢—Ä–µ–Ω–∏—Ä–æ–≤–∫–∏, –ß–∞–π, –§–∏–ª—å–º—ã, –§–æ—Ç–æ–≥—Ä–∞—Ñ–∏—è]","['5e4fd958-4c68-41f5-8b06-3c79dfe01b7c.jpg', '...",36-40,False,False,...,False,False,False,False,False,False,False,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,632197f8edb6ed010040aa9c,30,False,woman,None,[None],['408a9a05-2744-4537-92da-5eebe3b641e7.jpg'],26-30,False,False,...,False,False,False,False,False,False,False,False,False,False
496,6183b6de5566a10100ea28a9,33,False,woman,–ù–µ –∫—É—Ä—é,"[–•–æ–¥—å–±–∞, –ë–µ–≥, –§–∏–ª—å–º—ã, –ß—Ç–µ–Ω–∏–µ, –°–ø–æ—Ä—Ç]","['349ac7b7-d007-400f-b8d1-f810a9cf97af.jpg', '...",31-35,False,True,...,False,False,False,False,False,False,False,False,False,False
497,627229c64b13430100f34268,29,False,woman,–ù–µ –∫—É—Ä—é,"[–ú—É–∑–µ–π, –ò–Ω–≤–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏–µ, –§–æ—Ç–æ–≥—Ä–∞—Ñ–∏—è]","['5aa94812-32e9-4249-939f-19058b863fc5.jpg', '...",26-30,False,False,...,False,False,False,False,False,False,False,False,False,False
498,62eebb55cc7a2b01007125e0,32,False,woman,–ù–µ –∫—É—Ä—é,"[–ß—Ç–µ–Ω–∏–µ, –ö–æ—Ñ–µ, –í–∏–Ω–æ]","['14c22632-d197-4bfd-b14a-f996f228a457.jpg', '...",31-35,False,True,...,False,False,False,False,False,False,False,False,False,False
499,6154192a8408f90100720b6f,32,False,woman,None,"[–ö–æ—Ñ–µ, –ü–æ–∫—É–ø–∫–∏, –í–∏–Ω–æ, –ú—É–∑—ã–∫–∞, –ü–ª–∞–≤–∞–Ω–∏–µ]","['4c60cb26-4b52-4d8c-b4e0-b69207b8bc1c.jpg', '...",31-35,False,False,...,False,False,False,False,False,False,False,False,False,False

In [89]:
res.to_csv('/content/drive/MyDrive/TinAnal/bool_interests.csv')

In [91]:
res.groupby(['–ü—É—Ç–µ—à–µ—Å—Ç–≤–∏—è', 'Age group'])['–ü—É—Ç–µ—à–µ—Å—Ç–≤–∏—è'].count()

–ü—É—Ç–µ—à–µ—Å—Ç–≤–∏—è  Age group
False        <20           15
             21-25         49
             26-30         64
             31-35        112
             36-40         86
             41-55          5
             >55            0
True         <20            4
             21-25         19
             26-30         37
             31-35         55
             36-40         49
             41-55          5
             >55            0
Name: –ü—É—Ç–µ—à–µ—Å—Ç–≤–∏—è, dtype: int64

In [18]:
df

,id,age,has_social,gender,is_smoke,interests,photos,Age group
0,62e13a41c27068010043fc1b,21,True,woman,–ù–µ –∫—É—Ä—é,"[–ò–Ω–≤–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏–µ, –ú–µ–¥–∏—Ç–∞—Ü–∏—è, –°–ø–æ—Ä—Ç, –ü—É—Ç–µ—à–µ—Å—Ç–≤–∏—è...","['df586273-e9c4-4fb8-92bb-0b44d3d596a5.jpg', '...",21-25
1,62ee25b401fd790100354525,34,False,woman,None,"[–¢–∞–Ω—Ü—ã, –ë–∞–ª–µ—Ç, –ê–∫—Ç–∏–≤–Ω—ã–π –æ–±—Ä–∞–∑ –∂–∏–∑–Ω–∏, –°–ø–æ—Ä—Ç–∑–∞–ª,...","['7a30ab29-7948-41aa-88e2-94023a59e5db.jpg', '...",31-35
2,628e4f5b9486220100784892,27,False,woman,–ù–µ –∫—É—Ä—é,"[–ó–∞–Ω—è—Ç–∏—è –Ω–∞ —Å–≤–µ–∂–µ–º –≤–æ–∑–¥—É—Ö–µ, –ü—É—Ç–µ—à–µ—Å—Ç–≤–∏—è, –ò–Ω–≤–µ—Å...","['1fc99cc2-1791-4602-adce-0c7f29636a51.jpg', '...",26-30
3,5dc7e16f30bdf601001f16b0,36,False,woman,None,[None],"['e32b1730-1869-4e44-954f-cfc46849258d.jpg', '...",36-40
4,613d2872ecc1fe0100189693,37,False,woman,None,"[–°–ø–æ—Ä—Ç, –¢—Ä–µ–Ω–∏—Ä–æ–≤–∫–∏, –ß–∞–π, –§–∏–ª—å–º—ã, –§–æ—Ç–æ–≥—Ä–∞—Ñ–∏—è]","['5e4fd958-4c68-41f5-8b06-3c79dfe01b7c.jpg', '...",36-40
...,...,...,...,...,...,...,...,...
495,632197f8edb6ed010040aa9c,30,False,woman,None,[None],['408a9a05-2744-4537-92da-5eebe3b641e7.jpg'],26-30
496,6183b6de5566a10100ea28a9,33,False,woman,–ù–µ –∫—É—Ä—é,"[–•–æ–¥—å–±–∞, –ë–µ–≥, –§–∏–ª—å–º—ã, –ß—Ç–µ–Ω–∏–µ, –°–ø–æ—Ä—Ç]","['349ac7b7-d007-400f-b8d1-f810a9cf97af.jpg', '...",31-35
497,627229c64b13430100f34268,29,False,woman,–ù–µ –∫—É—Ä—é,"[–ú—É–∑–µ–π, –ò–Ω–≤–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏–µ, –§–æ—Ç–æ–≥—Ä–∞—Ñ–∏—è]","['5aa94812-32e9-4249-939f-19058b863fc5.jpg', '...",26-30
498,62eebb55cc7a2b01007125e0,32,False,woman,–ù–µ –∫—É—Ä—é,"[–ß—Ç–µ–Ω–∏–µ, –ö–æ—Ñ–µ, –í–∏–Ω–æ]","['14c22632-d197-4bfd-b14a-f996f228a457.jpg', '...",31-35
499,6154192a8408f90100720b6f,32,False,woman,None,"[–ö–æ—Ñ–µ, –ü–æ–∫—É–ø–∫–∏, –í–∏–Ω–æ, –ú—É–∑—ã–∫–∞, –ü–ª–∞–≤–∞–Ω–∏–µ]","['4c60cb26-4b52-4d8c-b4e0-b69207b8bc1c.jpg', '...",31-35