<a href="https://colab.research.google.com/github/e-margot/TinAnal/blob/main/Convert_json_to_csv.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [4]:
import json

In [ ]:
import pandas as pd

with open('/content/drive/MyDrive/TinAnal/women.json', encoding='utf-8') as inputfile:
    df = pd.read_json(inputfile)

df.to_csv('/content/drive/MyDrive/TinAnal/women.csv', encoding='utf-8', index=False)

In [ ]:
women = pd.read_csv('/content/drive/MyDrive/TinAnal/women.csv')

In [ ]:
women

,id,name,is_verified,description,birth_date,age,hide_age,is_traveling,gender,show_gender_on_profile,has_social,social_connections,interests,jobs,schools,sexual_orientations,hide_distance,options,photos
0,62e13a41c27068010043fc1b,Evr,True,–í–ª—é–±–ª–µ–Ω–∞ –≤ –∂–∏–∑–Ω—å\n–ú–æ–∂–µ—Ç –±—ã—Ç—å –≤–ª—é–±–ª—é—Å—å –≤ —Ç–µ–±—è ü§≠...,2000-09-18,21,False,0.0,woman,False,True,['instagram'],"[{'id': 'it_2289', 'name': '–ò–Ω–≤–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏–µ', '...",[],[],[],False,"[{'id': 'de_1', 'name': '–ó–Ω–∞–∫ –∑–æ–¥–∏–∞–∫–∞', 'selec...",[{'id': 'df586273-e9c4-4fb8-92bb-0b44d3d596a5'...
1,62ee25b401fd790100354525,Anna,False,NaN,1987-09-18,34,False,NaN,woman,True,False,[],"[{'id': 'it_2016', 'name': '–¢–∞–Ω—Ü—ã', 'is_common...",[],[],[],False,"[{'id': 'de_1', 'name': '–ó–Ω–∞–∫ –∑–æ–¥–∏–∞–∫–∞', 'selec...",[{'id': '7a30ab29-7948-41aa-88e2-94023a59e5db'...
2,628e4f5b9486220100784892,Alina,False,"–ò–Ω—Ç—Ä–æ–≤–µ—Ä—Ç\n\n–ò–∑–Ω–∞—á–∞–ª—å–Ω–∞—è —Ü–µ–ª—å - –æ–±—â–µ–Ω–∏–µ, –¥–∞–ª—å—à...",1994-09-18,27,False,1.0,woman,True,False,[],"[{'id': 'it_58', 'name': '–ó–∞–Ω—è—Ç–∏—è –Ω–∞ —Å–≤–µ–∂–µ–º –≤–æ...",[{'title': {'name': '–°–∞–º–æ–∑–∞–Ω—è—Ç–æ—Å—Ç—å'}}],[{'name': '–°–∞–Ω–∫—Ç-–ü–µ—Ç–µ—Ä–±—É—Ä–≥—Å–∫–∏–π –∏–Ω—Å—Ç–∏—Ç—É—Ç —ç–∫–æ–Ω–æ–º...,"[{'id': 'str', 'name': '–ì–µ—Ç–µ—Ä–æ'}]",True,"[{'id': 'de_1', 'name': '–ó–Ω–∞–∫ –∑–æ–¥–∏–∞–∫–∞', 'selec...",[{'id': '1fc99cc2-1791-4602-adce-0c7f29636a51'...
3,5dc7e16f30bdf601001f16b0,–î–∞—Ä—å—è,False,NaN,1985-09-18,36,False,0.0,woman,False,False,[],[],[],[],[],False,[],[{'id': 'e32b1730-1869-4e44-954f-cfc46849258d'...
4,613d2872ecc1fe0100189693,–¢–∞–Ω—è,False,–ï—Å—Ç—å –¥–≤–æ–µ –¥–µ—Ç–µ–π 6 –ª–µ—Ç –∏ 11 –ª–µ—Ç,1984-09-18,37,False,NaN,woman,False,False,[],"[{'id': 'it_23', 'name': '–°–ø–æ—Ä—Ç', 'is_common':...","[{'company': {'name': '–†–æ—Å–∞—Ç–æ–º'}, 'title': {'n...",[],[],False,[],[{'id': '5e4fd958-4c68-41f5-8b06-3c79dfe01b7c'...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
495,632197f8edb6ed010040aa9c,Aleksandra,False,NaN,1991-09-18,30,False,0.0,woman,True,False,[],[],[],[],"[{'id': 'str', 'name': '–ì–µ—Ç–µ—Ä–æ'}]",False,[],[{'id': '408a9a05-2744-4537-92da-5eebe3b641e7'...
496,6183b6de5566a10100ea28a9,–ú–∞—Ä–∏—è,False,"–í–æ–¥–æ–ª–µ–π‚ôí\n@mrs.krizh\n\n–í—ã—Å–æ–∫–∞—è, –µ—Å–ª–∏ –Ω–∞ –∫–∞–±–ª—É...",1988-09-18,33,False,NaN,woman,False,False,[],"[{'id': 'it_31', 'name': '–•–æ–¥—å–±–∞', 'is_common'...",[],[{'name': '–í—ã—Å—à–µ–µ'}],"[{'id': 'str', 'name': '–ì–µ—Ç–µ—Ä–æ'}]",False,"[{'id': 'de_1', 'name': '–ó–Ω–∞–∫ –∑–æ–¥–∏–∞–∫–∞', 'selec...",[{'id': '349ac7b7-d007-400f-b8d1-f810a9cf97af'...
497,627229c64b13430100f34268,–ê–Ω–Ω–∞,False,–û—Ç–∫—Ä—ã—Ç–∞ –∫ –∑–Ω–∞–∫–æ–º—Å—Ç–≤–∞–º.\n\n–í–æ –∏–∑–±–µ–∂–∞–Ω–∏–µ –Ω–µ–¥–æ–ø–æ–Ω...,1992-09-18,29,False,NaN,woman,True,False,[],"[{'id': 'it_2017', 'name': '–ú—É–∑–µ–π', 'is_common...",[],[],[],False,"[{'id': 'de_11', 'name': '–ö—É—Ä–µ–Ω–∏–µ', 'selection...",[{'id': '5aa94812-32e9-4249-939f-19058b863fc5'...
498,62eebb55cc7a2b01007125e0,–ö—Å–µ–Ω–∏—è,True,"–ñ–∏–≤—É –∏ —Ä–∞–±–æ—Ç–∞—é –±–µ–∑ –≥—Ä–∞—Ñ–∏–∫–∞. \n–ì—É–ª—è—Ç—å, –≤–∫—É—Å–Ω–æ –µ...",1989-09-18,32,False,NaN,woman,False,False,[],"[{'id': 'it_28', 'name': '–ß—Ç–µ–Ω–∏–µ', 'is_common'...",[{'title': {'name': '–ò–ü'}}],[],[],False,"[{'id': 'de_3', 'name': '–ü–∏—Ç–æ–º—Ü—ã', 'selections...",[{'id': '14c22632-d197-4bfd-b14a-f996f228a457'...
499,6154192a8408f90100720b6f,–ê–Ω–∂–µ–ª–∏–∫–∞,True,–í—ã—Å–æ–∫–∞—è 176) \n—Ö–∞—Ä–∏–∑–º–∞—Ç–∏—á–Ω–∞—è . –õ–µ–≤,1989-09-18,32,False,0.0,woman,True,False,[],"[{'id': 'it_1', 'name': '–ö–æ—Ñ–µ', 'is_common': T...",[],[],"[{'id': 'str', 'name': '–ì–µ—Ç–µ—Ä–æ'}]",False,[],[{'id': '4c60cb26-4b52-4d8c-b4e0-b69207b8bc1c'...

In [64]:
f = open('/content/drive/MyDrive/TinAnal/women.json', encoding='utf-8')
ph = []
interests = []
data = json.load(f)
for i in data:
    de = []
    for j in i['options']:
      de.append(j['id'])
    for n in j['selections']:
      for m in i['photos']:
        ph.append(m['filename'])
      for inter in i['interests']:
        interests.append(inter['name'])
      with open('/content/drive/MyDrive/TinAnal/women_2.json', 'r+') as file:
        file_data = json.load(file)
        if 'de_11' in de:
          if j['id'] == 'de_11':
            if not interests:
              new = {'id': i['id'], 'age': i['age'], 'has_social': i['has_social'], 'gender': i['gender'], 'is_smoke': n['name'], 'interests': 'None','photos': ph}
            else:
              new = {'id': i['id'], 'age': i['age'], 'has_social': i['has_social'], 'gender': i['gender'], 'is_smoke': n['name'], 'interests': interests,'photos': ph}
        else:
          if not interests:
            new = {'id': i['id'], 'age': i['age'], 'has_social': i['has_social'], 'gender': i['gender'], 'is_smoke': 'None', 'interests': 'None', 'photos': ph}
          else:
            new = {'id': i['id'], 'age': i['age'], 'has_social': i['has_social'], 'gender': i['gender'], 'is_smoke': 'None', 'interests': interests, 'photos': ph}
        file_data.append(new)
        file.seek(0)
        json.dump(file_data, file, indent = 4, ensure_ascii=False)
        ph.clear()
        interests.clear()


f.close()

In [ ]:
f = open('/content/drive/MyDrive/TinAnal/women.json')
ph = []
da = []
data = json.load(f)
for i in data:
    for j in i['options']:
      if j['id'] == 'de_11':
        for n in j['selections']:
          for m in i['photos']:
            ph.append(m['filename'])
            for inter in i['interests']:
              da.append(inter['name'])
          if not da:
            print("empty", i['gender'], n['name'], da)
          else:
            print(i['gender'], n['name'], da)
          ph.clear()
          da.clear()

In [65]:
import pandas as pd

with open('/content/drive/MyDrive/TinAnal/women_2.json', encoding='utf-8') as inputfile:
    df = pd.read_json(inputfile)

df.to_csv('/content/drive/MyDrive/TinAnal/women_2.csv', encoding='utf-8', index=False)

In [66]:
df_w = pd.read_csv('/content/drive/MyDrive/TinAnal/women_2.csv')

In [67]:
df_w

,id,age,has_social,gender,is_smoke,interests,photos
0,62e13a41c27068010043fc1b,21,True,woman,–ù–µ –∫—É—Ä—é,"['–ò–Ω–≤–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏–µ', '–ú–µ–¥–∏—Ç–∞—Ü–∏—è', '–°–ø–æ—Ä—Ç', '–ü—É—Ç–µ...","['df586273-e9c4-4fb8-92bb-0b44d3d596a5.jpg', '..."
1,62ee25b401fd790100354525,34,False,woman,None,"['–¢–∞–Ω—Ü—ã', '–ë–∞–ª–µ—Ç', '–ê–∫—Ç–∏–≤–Ω—ã–π –æ–±—Ä–∞–∑ –∂–∏–∑–Ω–∏', '–°–ø...","['7a30ab29-7948-41aa-88e2-94023a59e5db.jpg', '..."
2,628e4f5b9486220100784892,27,False,woman,–ù–µ –∫—É—Ä—é,"['–ó–∞–Ω—è—Ç–∏—è –Ω–∞ —Å–≤–µ–∂–µ–º –≤–æ–∑–¥—É—Ö–µ', '–ü—É—Ç–µ—à–µ—Å—Ç–≤–∏—è', '...","['1fc99cc2-1791-4602-adce-0c7f29636a51.jpg', '..."
3,5dc7e16f30bdf601001f16b0,36,False,woman,None,None,"['e32b1730-1869-4e44-954f-cfc46849258d.jpg', '..."
4,613d2872ecc1fe0100189693,37,False,woman,None,"['–°–ø–æ—Ä—Ç', '–¢—Ä–µ–Ω–∏—Ä–æ–≤–∫–∏', '–ß–∞–π', '–§–∏–ª—å–º—ã', '–§–æ—Ç–æ...","['5e4fd958-4c68-41f5-8b06-3c79dfe01b7c.jpg', '..."
...,...,...,...,...,...,...,...
495,632197f8edb6ed010040aa9c,30,False,woman,None,None,['408a9a05-2744-4537-92da-5eebe3b641e7.jpg']
496,6183b6de5566a10100ea28a9,33,False,woman,–ù–µ –∫—É—Ä—é,"['–•–æ–¥—å–±–∞', '–ë–µ–≥', '–§–∏–ª—å–º—ã', '–ß—Ç–µ–Ω–∏–µ', '–°–ø–æ—Ä—Ç']","['349ac7b7-d007-400f-b8d1-f810a9cf97af.jpg', '..."
497,627229c64b13430100f34268,29,False,woman,–ù–µ –∫—É—Ä—é,"['–ú—É–∑–µ–π', '–ò–Ω–≤–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏–µ', '–§–æ—Ç–æ–≥—Ä–∞—Ñ–∏—è']","['5aa94812-32e9-4249-939f-19058b863fc5.jpg', '..."
498,62eebb55cc7a2b01007125e0,32,False,woman,–ù–µ –∫—É—Ä—é,"['–ß—Ç–µ–Ω–∏–µ', '–ö–æ—Ñ–µ', '–í–∏–Ω–æ']","['14c22632-d197-4bfd-b14a-f996f228a457.jpg', '..."
499,6154192a8408f90100720b6f,32,False,woman,None,"['–ö–æ—Ñ–µ', '–ü–æ–∫—É–ø–∫–∏', '–í–∏–Ω–æ', '–ú—É–∑—ã–∫–∞', '–ü–ª–∞–≤–∞–Ω–∏–µ']","['4c60cb26-4b52-4d8c-b4e0-b69207b8bc1c.jpg', '..."

In [68]:
# her we define the threshhold or our age groups
age_groups = [0, 20, 25, 30, 35, 40, 55, 100]

# and for convenience we give each of them a handy label
age_group_names = ['<20', '21-25', '26-30', '31-35', '36-40', '41-55', '>55']

In [69]:
df_w['Age group'] = pd.cut(
    df_w['age'], bins=age_groups, labels=age_group_names)

df_w

,id,age,has_social,gender,is_smoke,interests,photos,Age group
0,62e13a41c27068010043fc1b,21,True,woman,–ù–µ –∫—É—Ä—é,"['–ò–Ω–≤–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏–µ', '–ú–µ–¥–∏—Ç–∞—Ü–∏—è', '–°–ø–æ—Ä—Ç', '–ü—É—Ç–µ...","['df586273-e9c4-4fb8-92bb-0b44d3d596a5.jpg', '...",21-25
1,62ee25b401fd790100354525,34,False,woman,None,"['–¢–∞–Ω—Ü—ã', '–ë–∞–ª–µ—Ç', '–ê–∫—Ç–∏–≤–Ω—ã–π –æ–±—Ä–∞–∑ –∂–∏–∑–Ω–∏', '–°–ø...","['7a30ab29-7948-41aa-88e2-94023a59e5db.jpg', '...",31-35
2,628e4f5b9486220100784892,27,False,woman,–ù–µ –∫—É—Ä—é,"['–ó–∞–Ω—è—Ç–∏—è –Ω–∞ —Å–≤–µ–∂–µ–º –≤–æ–∑–¥—É—Ö–µ', '–ü—É—Ç–µ—à–µ—Å—Ç–≤–∏—è', '...","['1fc99cc2-1791-4602-adce-0c7f29636a51.jpg', '...",26-30
3,5dc7e16f30bdf601001f16b0,36,False,woman,None,None,"['e32b1730-1869-4e44-954f-cfc46849258d.jpg', '...",36-40
4,613d2872ecc1fe0100189693,37,False,woman,None,"['–°–ø–æ—Ä—Ç', '–¢—Ä–µ–Ω–∏—Ä–æ–≤–∫–∏', '–ß–∞–π', '–§–∏–ª—å–º—ã', '–§–æ—Ç–æ...","['5e4fd958-4c68-41f5-8b06-3c79dfe01b7c.jpg', '...",36-40
...,...,...,...,...,...,...,...,...
495,632197f8edb6ed010040aa9c,30,False,woman,None,None,['408a9a05-2744-4537-92da-5eebe3b641e7.jpg'],26-30
496,6183b6de5566a10100ea28a9,33,False,woman,–ù–µ –∫—É—Ä—é,"['–•–æ–¥—å–±–∞', '–ë–µ–≥', '–§–∏–ª—å–º—ã', '–ß—Ç–µ–Ω–∏–µ', '–°–ø–æ—Ä—Ç']","['349ac7b7-d007-400f-b8d1-f810a9cf97af.jpg', '...",31-35
497,627229c64b13430100f34268,29,False,woman,–ù–µ –∫—É—Ä—é,"['–ú—É–∑–µ–π', '–ò–Ω–≤–µ—Å—Ç–∏—Ä–æ–≤–∞–Ω–∏–µ', '–§–æ—Ç–æ–≥—Ä–∞—Ñ–∏—è']","['5aa94812-32e9-4249-939f-19058b863fc5.jpg', '...",26-30
498,62eebb55cc7a2b01007125e0,32,False,woman,–ù–µ –∫—É—Ä—é,"['–ß—Ç–µ–Ω–∏–µ', '–ö–æ—Ñ–µ', '–í–∏–Ω–æ']","['14c22632-d197-4bfd-b14a-f996f228a457.jpg', '...",31-35
499,6154192a8408f90100720b6f,32,False,woman,None,"['–ö–æ—Ñ–µ', '–ü–æ–∫—É–ø–∫–∏', '–í–∏–Ω–æ', '–ú—É–∑—ã–∫–∞', '–ü–ª–∞–≤–∞–Ω–∏–µ']","['4c60cb26-4b52-4d8c-b4e0-b69207b8bc1c.jpg', '...",31-35

In [76]:
df_w.groupby('is_smoke')['is_smoke'].count()

is_smoke
None                 255
–ö—É—Ä—é                  17
–ö—É—Ä—é –∑–∞ –∫–æ–º–ø–∞–Ω–∏—é      11
–ö—É—Ä—é, –∫–æ–≥–¥–∞ –≤—ã–ø—å—é      3
–ù–µ –∫—É—Ä—é              214
Name: is_smoke, dtype: int64

In [77]:
df_w.groupby(['is_smoke', 'Age group'])['is_smoke'].count()

is_smoke           Age group
None               <20           7
                   21-25        35
                   26-30        49
                   31-35        88
                   36-40        69
                   41-55         7
                   >55           0
–ö—É—Ä—é               <20           1
                   21-25         6
                   26-30         8
                   31-35         1
                   36-40         1
                   41-55         0
                   >55           0
–ö—É—Ä—é –∑–∞ –∫–æ–º–ø–∞–Ω–∏—é   <20           3
                   21-25         2
                   26-30         0
                   31-35         3
                   36-40         3
                   41-55         0
                   >55           0
–ö—É—Ä—é, –∫–æ–≥–¥–∞ –≤—ã–ø—å—é  <20           0
                   21-25         1
                   26-30         1
                   31-35         1
                   36-40         0
                   41-55         0
                   >55           0
–ù–µ –∫—É—Ä—é            <20           8
                   21-25        24
                   26-30        43
                   31-35        74
                   36-40        62
                   41-55         3
                   >55           0
Name: is_smoke, dtype: int64